@font-face {
  font-family: "UnionFont";
  src: url("../style/Font/Founder-Heiti-SC-of-UnionPay.ttf") format("truetype");
  /* font-weight: 400;
  font-style: normal; */
}
.colorDB1E33{
    color: #DB1E33
}
.bgDB1E33{
    background-color: #DB1E33;
}
.footerbg{
    /* border-radius: 0 0 15px 15px; */

}
.mlauto{
    margin-left: auto;
}
.pt3point6em{
    padding-top: 3.6em;
}
/* Footer */
.footerlogotxt{
    font-family: Noto Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 23.36px;
    leading-trim: NONE;
    line-height: 33.37px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}
.pt1point6em{
    padding-top:1.6em
}
.footerlink{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 23.36px;
    leading-trim: NONE;
    line-height: 33.37px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
}
.footerlink:hover{
    opacity: 0.8;
}
.footertxtunion{
    font-family: Noto Sans;
    font-weight: 700;
    font-style: Italic;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 21px;
    letter-spacing: 0px;
    color: #FFFFFF;

}
.footerprivacylink{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 23.36px;
    leading-trim: NONE;
    line-height: 33.37px;
    letter-spacing: -0.25px;
    color: #FFFFFF

}
.footerprivacylink:hover{
    opacity: 0.8
}
/* Header */
.headerbg{

}
.headerlink{
    font-family: Noto Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 33.37px;
    letter-spacing: -0.25px;
    color: #0F172A;
    margin-left:10px



}
.pt6em{
    padding-top: 6em;

}
.headerlink:hover{
    opacity:0.8

}
.headerdiv{
    padding: 3em 10px;
}
.whoweare{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 40px;
    letter-spacing: 0.66px;
    text-align: center;
    color: #0F172A;

}
.whowearep{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 50.06px;
    leading-trim: NONE;
    line-height: 60.07px;
    letter-spacing: 0.66px;
    text-align: center;
    color: #0F172A;
    margin: 0
   
}
.whowearetxt{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 43px;
    letter-spacing: -0.73px;
    text-align: center;
    color: #475569;

}
.pt-6em{
    padding-top: 6em;
}
.width83percent{
    width: 83%;
}
.prudentbankh1{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 50.06px;
    leading-trim: NONE;
    line-height: 60.07px;
    letter-spacing: 0.66px;
    text-align: center;
    color: #0F172A;

}
.prudentbankp{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 43px;
    letter-spacing: -0.73px;
    text-align: center;
    color: #0E3E83;
    margin-top: 15px;

}
.prudentbanktxt{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 43px;
    letter-spacing: -0.73px;
    color: #475569;
    margin-top: -6.5em;

}
.prudentbanktxtlink{
    font-family: Noto Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 40.05px;
    letter-spacing: -0.52px;
    color: #5992A2;
    position: relative;
    display: inline-block;
    padding-bottom: 0;

}

.prudentbanktxtlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #5992A2;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.35s ease;
}

.prudentbanktxtlink:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}

.mt7em{
    margin-top: 7em;
}
.flipimagetrader{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.traderh1{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 50px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF

}
.traderp{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 26.6px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF

}
.bgE31837{
    background-color: #E31837;
}
.regform{
    background-color: #003D6D;
        border-bottom-right-radius: 80px;

}
.mauto{
    margin:auto
}
.mw71percent{
    max-width: 71%;
}
.formsubmitbtn{
        background: #E31837;
    border-radius: 8px;
    font-family: Noto Sans;
    font-weight: 600;
    font-style: Display SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 55px;
    border: 1px solid #E31837;
}
.formsubmitbtn:hover{
    background-color: transparent;
    
}
.regformhead{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 23.36px;
    leading-trim: NONE;
    line-height: 33.37px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    margin-bottom: 2.5em;
}
.regformheadfield{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 33.37px;
    letter-spacing: -0.25px;
    color: #fff;


}
.faqh1{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 50.06px;
    leading-trim: NONE;
    line-height: 60.07px;
    letter-spacing: 0.66px;
    color: #fff

}
.faqp{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 26px;
    letter-spacing: -0.52px;

}
.faqundertxt{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 50.06px;
    leading-trim: NONE;
    line-height: 60.07px;
    letter-spacing: 0.66px;
    padding: 1em 0;
    color: #0F172A
}
.faqundertxttop{

}
.faqquesh1{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: Display SemiBold;
    font-size: 20.02px;
    leading-trim: NONE;
    line-height: 26.7px;
    letter-spacing: 0px;
    color: #033484;
}
.faqquesh2{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: Display SemiBold;
    font-size: 24.7px;
    leading-trim: NONE;
    line-height: 40.05px;
    letter-spacing: -0.52px;
    color: #0F172A

}
.faqquestxt{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color: #606060;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;

}
.mt10px{
    margin-top: 10px
}
.benefithead{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: Display SemiBold;
    font-size: 30.03px;
    leading-trim: NONE;
    line-height: 39px;
    letter-spacing: -0.73px;
    color: #FFFFFF

}
.benefitheadp{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff

}
.benefittdxt{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #fff;
    margin-top: 10px;

}
.pr8point3em{
     padding-right: 8.3em;
}
.mw98percent{
    max-width: 98%;
}
#nihao {
    position: relative;
}
.mt7-5em{
    margin-top: 7em;
}
.mw71percent100{
    max-width: 71%;
}
.whowearemargin640{
    margin-top: 64px
}
.brndpromisemargin{
    margin-top: 97px
}
#nihao::before{
    content:"";
    position:absolute;
    inset:0;
    pointer-events:none;
    background:
      radial-gradient(circle at bottom left,
      rgba(64,122,89,.12),transparent 45%),
      radial-gradient(circle at bottom center,
      rgba(64,122,89,.12),transparent 55%);
}
.cardlifestyleh{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 61px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #FFFFFF
}
.cardlifestylep{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 26.6px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF

}
.hero-shape {
    position: absolute;
    inset: 0 auto 0 0;
    width: 58%;
    background: #E41E3F;

    clip-path: polygon(
        0 0,
        82% 0,
        58% 100%,
        0 100%
    );

    border-bottom-left-radius: 120px;
}
.hmecourselh1{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 65px;
    leading-trim: NONE;
    line-height: 80.09px;
    letter-spacing: 0px;
    color: #fff
}
.hmecourselp{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    leading-trim: NONE;
    line-height: 43px;
    letter-spacing: -0.73px;
    color: #fff;

}
.bgwhite{
    background-color: #fff;
}
.pt0{
    padding-top: 0;
}
.pb0{
    padding-bottom: 0;
}
.hmecoursellink{
    font-family: Noto Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 25px;
    leading-trim: NONE;
    line-height: 40.05px;
    letter-spacing: -0.52px;
    color: #FFFFFF;
    padding-bottom: 0;
}
.hmecoursellink:hover{


}
.hmeheaderpt{
    padding-top: 6em;
}
.hmetophero1{

}
.hmetophero2{

}
.object-fill{
    object-fit: fill;
}
.maxheight9point3em{
    max-height: 9.3em;
}
.hmewidth83percent{
    width: 83%
}
.worldmapdesignh{
    background-color: #003D6D;
    width: 90%;
    border-radius: 12.63px;
    height: 178px;
    padding-top: 15px;

}
.worldiconbg{
    border: 0.53px solid #FFFFFF33;
    background: #F6F6F6B2;
    box-shadow: 0px 1.05px 2.1px 0px #00000014;
    width: 45px;
    height: 45px;
}
.worldiconbgimg{
    width:30px
}
.worldmapdesignp{
    color: #BDC7D4;
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18.94px;
    leading-trim: NONE;
    line-height: 30.07px;
    letter-spacing: -0.23px;
    margin-top: 0px;


}
.worldmapdesignh1{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 23.99px;
    leading-trim: NONE;
    line-height: 40.6px;
    letter-spacing: -0.66px;
    color: #FFFFFF;
    margin-top: 5px;

}
.worldmapdesigncount{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 23.99px;
    leading-trim: NONE;
    line-height: 40.6px;
    letter-spacing: -0.66px;
    color: #FFFFFF;


}

.hmebrandpromise{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20.21px;
    leading-trim: NONE;
    line-height: 50.51px;
    letter-spacing: 0.83px;
    color: #003D6D;


}
.hmebrandpromiseabt{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 37.88px;
    leading-trim: NONE;
    line-height: 42.94px;
    letter-spacing: 0px;
    color: #003D6D;

}
.hmecardlifestletxth{
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 61px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #fff;

}
.hmecardlifestletxthp{
    color: #fff;
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 26.6px;
    letter-spacing: 0%;
    vertical-align: middle;

}
.nihaochinaapptop{
    font-family: Noto Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 60.07px;
    letter-spacing: 0.66px;

    color:#09467E;

}
.nihaochinaapptoptxt{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: -0.73px;

    color:#09467E;

}
.nihaochinaapptoptxt1{
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: -0.73px;

    color:#09467E;


}
.nihobody{
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    border-top-left-radius: 0px;
}
.nihaochinaapptoptxtdownload{


}
.hmecoursellink {
  position: relative;
  display: inline-block;
}

.hmecoursellink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.35s ease;
}

.hmecoursellink:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}
.hmewatercolormtmb{
    margin-top: 4em;
    margin-bottom: 4em;
}
@media screen and (max-width: 1040px) {
    .hmecourselh1 {
        font-size: 40px;
        line-height: 45.09px;
    }
    .hmecourselp {
        font-family: Noto Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 17px;
        leading-trim: NONE;
        line-height: 26px;
    }
    .hmecoursellink {
        font-family: Noto Sans;
        font-weight: 500;
        font-style: Medium;
        font-size: 17px;
        leading-trim: NONE;
        line-height: 28.05px;
    }

}
@media screen and (max-width: 835px) {
    .hmewidth83percent{
        width: 100%
    }
  .faqh1 {
    font-family: Noto Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 29.06px;
    leading-trim: NONE;
    line-height: 29.07px;
  }
  .faqp {
    font-family: Noto Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
  }
  .prudentbanktxt{
    margin-top: 0
  }
}
@media screen and (max-width: 767px) {
    .hmeheaderpt{
        padding-top: 0em;
    }
    .headerdiv {
        padding: 1em 20px;
    }
    .hmecardlifestletxth {
        font-family: Noto Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 27px;
        leading-trim: NONE;
        line-height: 24px;
    }
    .hmecardlifestletxthp {
        color: #fff;
        font-family: Noto Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 13px;
        leading-trim: NONE;
        line-height: 19.6px;
    }


}
@media screen and (max-width: 506px) {
    .width65linkimg{
        width: 65px
    }
    .footerlogotxt {
        font-size: 18.36px;
        line-height: 25.37px;
    }
    .footerlink {
        font-size: 18.36px;
        line-height: 17.37px;
    }
    .mt7-5em{
        margin-top: 5em;
    }
    .footertxtunion {
        font-size: 16px;
        line-height: 20px;
    }
    .footerprivacylink {
        font-size: 18.36px;
        line-height: 19.37px;
    }
    .prudentbankh1 {
        font-family: Noto Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 30.06px;
        leading-trim: NONE;
        line-height: 25.07px;
    }
    .prudentbankp {
        font-family: Noto Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 19px;
        leading-trim: NONE;
        line-height: 25px;
    }
    .prudentbanktxt {
        font-family: Noto Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 38px;
    }
    .prudentbanktxtlink {
        font-family: Noto Sans;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 27.05px;
    }
    
    .traderh1 {
        font-family: Noto Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 26px;
    }
    .traderp {
        font-family: Noto Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        leading-trim: NONE;
        line-height: 17.6px;
    }
    .mw71percent100{
        max-width: 100%;

    }
    .whoweare {
        font-family: Noto Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 17px;
        leading-trim: NONE;
        line-height: 34px;
    }
    .whowearep {
        font-family: Noto Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 44.06px;
        leading-trim: NONE;
        line-height: 47.07px;
    }
    .whowearetxt {
        font-family: Noto Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 33px;
    }
    .whowearemargin640{
        margin-top: 0;
    }
    .brndpromisemargin{
        margin-top: 25px;
    }
    .hmebrandpromise {
        font-family: Noto Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 17.21px;
        leading-trim: NONE;
        line-height: 32.51px;
    }
    .hmebrandpromiseabt {
        font-family: Noto Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 23.88px;
        leading-trim: NONE;
        line-height: 32.94px;
        margin-top: 5px;
    }



}
@media screen and (max-width: 400px) {
    .worldmapdesignh{
        height: auto

    }
}